html,
body{
    padding: 0px;
    
    margin: 0px;
}
@font-face {
    font-family: 'Kanit', sans-serif;
    src: url(/asses/font/Kanit/Kanit-Black.ttf);
}

.left-menu{
    background-color: rgb(12, 12, 12);
    float: left;
    max-width: 300px;
    width: 100%;
    height: 100%;
    position: fixed;
}   
a{
    text-decoration: none;
    color: #fff;
    font-family: 'Kanit', sans-serif;

}

li{
    padding: 10px;
    margin-bottom: 5px;
    list-style-type: none;
}
.title{
    text-align: center;
}
.icon{
    color: #fff;
    font-size: 18px;
}
.title__content{
    color: #fff;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;

}
.main-content{
    background-color: rgb(255, 255, 255);
    min-width: calc(740px - 300px);
    height: 750px;
    
}
.content__1{
    position: absolute;
    background-color: rgb(247, 243, 243) ;
    left: 25%;
    top: 10%;
    max-width: 400px;
    max-height: 730px;
    border: 0.5px solid white;
}
.content__1--img{
    width: 100%;
    height: auto;
}
.content__1--des{
    padding: 10px;
}

.des__title{
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
}

.des__subtitle{
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}


.des__main{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}



.slogan{
    position: absolute;
    background-color: rgb(247, 243, 243) ;
    right: 17%;
    top: 10%;
    width: 400px;
    height: 50%;
    border: 0.5px solid white;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}
.icon__slogan{
    font-size: 2.6rem;
    
}
.desp__slogan{
    font-size: 1.7em;
    font-weight: 400;
    text-align: center;
    text-align-last: center;
    padding: 5px 0 0 0;
}
.subdes__slogan{
    font-size: 1em;
    font-weight: 350;
    
}

.content__2{
    position: absolute;
    background-color: rgb(247, 243, 243) ;
    right: 17%;
    top: 70%;
    width: 400px;
    max-height: 730px;
    border: 0.5px solid white;
}


.content__3{
    position: absolute;
    background-color: rgb(247, 243, 243) ;
    left: 25%;
    top: 110%;
    margin-top: 79px;
    max-width: 400px;
    max-height: 730px;
    border: 0.5px solid white;
}


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

/** =======================
 * Contenedor Principal
 ===========================*/
.menu {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

 .menu a {
 	color: #21263d;
 	font-size: 16px;
 }

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #313c5f;
}

.accordion li.open i {
	color: #304b61;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #27272c;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #e8e7f0;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #32476e;
 	color: #FFF;
 }


 .hover-gray figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover-gray figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}